 
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'impact',sans-serif;
    scroll-behavior: smooth;
}
.white{
    background:rgb(255,255,255,1);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    width: 100%;
    z-index:999;
    top:0;
    transition: all 1s ease-in;
}
.navbar{
    background:rgb(255,255,255,0);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:absolute;
    width: 100%;
    z-index:999;
    top:0;
    transition: all 1s ease-in;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height:80px;
    z-index:1;
    width:100%;
    max-width:1300px ;
    margin: 0 auto;
    padding:0 50px;
}
#navbar__logo{
    background: #0575e6;
    background: -webkit-linear-gradient(to right, #0575e6, #021b79);
    background: linear-gradient(to right, #0575e6, #021b79);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent ;
    -moz-text-fill-color:transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size:2rem;  
} 
.navbar__menu{
    display:flex;
    align-items:center;
    list-style: none;
}
.navbar__item{
    height:80px;
}
.navbar__links{
    color:#131313;
    display:flex;
    align-items: center;
    justify-content: center;
    width:125px;
    text-decoration: none;
    height:100%;
}
.navbar__btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding:10px 20px;
    height: 100%;
    width: 100%;
    border:none;
    outline:none;
    border-radius: 4px;
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575e6, #021b79); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575e6, #021b79);
    color:#fff;
    transition: all 0.3s ease;
}
.navbar__links:hover{
    color: rgb(0, 162, 255);
    transition: all 0.3s ease;
}
.navbar__btn:hover{
    transform:scale(1.075);
    transition: 0.3 ease-in;
}

@media screen and (max-width:960px){
    .navbar__container{
        display:flex;
        justify-content: space-between;
        height:80px;
        z-index: 1;
        width:100%;
        max-width: 1300px;
        padding:0;
    }
    .navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin:0;
    width:100%;
    position: absolute;
    top:-1000px;
    opacity: 1;
    transition:all 0.5s ease;
    z-index:-1;
    }
    .navbar__menu.active{
    background:rgb(150, 150, 150,0.7);
    top:100%;
    opacity:1;
    transition:all 0.5 ease;
    z-index:99;
    height:65vh;
    font-size:1.5rem;
    }
    #navbar__logo{
    padding-left:20px;
    }
    .navbar__toggle .bar{
        width:25px;
        height:3px;
        margin:5px auto;
        transition: all 0.3s ease-in-out;
        background:#161616;
    }
    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align:center;
        padding:2rem;
        width:100%;
        display:table;
    }
    .navbar__btn{
        padding-bottom:2rem;
    }
    .button{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin:0;
    }
    #mobile-menu{
        position: absolute;
        top:30%;
        right:5%;
        transition:translate(5%,20%);
    }
    .navbar__toggle .bar{
        display:block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg) ;
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg) ;
    }
}
/* Hero Section*/
.hero__video{
    object-fit: cover;
    padding:0;
    opacity:0.8;
    top: 0;
    left: 0;
    height:100vh;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    
}

.hero__container{
    text-align: center;
    position:absolute;
    z-index:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}
.autotype{
    height:15vh;
}
.hero__heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: #131313;
}
.hero__heading span{
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #4ca1af); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #4ca1af);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.hero__description{
    font-size: 60px;
    background: #36d1dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #36d1dc, #5b86e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.highlight{
    border-bottom:4px solid rgb(0, 162, 255);
}
@media screen and (max-width:900px){
.autotype{
    height:30vh;
}
}
@media screen and (max-width:800px){
    .hero__heading{
        font-size:60px;
    }
    .hero__description{
        font-size:25px;
    }
}

.main{
    background-color:rgb(167, 237, 241) ;
    padding: 2rem 0;
    height: 100vh;
}
.main__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    height:90%;
    z-index: 1;
    width:100%;
    margin-top: 5rem;
}
.main__content{
    color: #131313;
    max-width:100%;
    margin-left:5rem;
}
.main__content h1{ 
    font-size: 3rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top,#ff087b 0%,#ed1a52 100%);
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    text-transform: uppercase;
}
.main__content h2{
    font-size: 3rem;
    background: #36d1dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #36d1dc, #5b86e5);    
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.main__content p{
    margin-top:0.5rem;
    width: 100%;
    font-size:2rem;
}
.main__btn{
    font-size:1.5rem;
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575e6, #021b79); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575e6, #021b79);
    padding:20px 60px;
    border: none;
    border-radius: 4px;
    color:#fff;
    margin-top:2rem;
    cursor:pointer;
    position: relative;
    transition: all 0.35s;
    outline:none;
}
.main__btn:hover{
    transform:scale(1.075);
    transition: 0.3 ease-in;
}
.main__btn a{
    z-index: 2;
    position:relative;
    color: #fff;
    text-decoration: none;
}
.main__btn::after{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height: 100%;
    background: #2c8ebb;
    transition: all 0.35s;
    border-radius: 4px; 
}
.main__btn:hover{
    color:#fff;
}

.main__btn:hover:after{
    width:100%;
}

.main__img--container{
    display: flex;
    justify-content:center;
}
.main__img--card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#131313; 
}
.main__img--card img{
    width:300px;
    height: 200px;
}
@media screen and (max-width:1100px){
    .main__content p{
        font-size: 1.5rem;
    }
    .main__content{
        margin:0 1rem 0;
    }
}
@media screen and (max-width:700px){
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content:top;
        width:100%;
        margin: 0 auto;
        height: 90%;
    }
    .main__img--card{
        flex-direction:column;
        height: 267px;
        width: 167px;
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .main__content h1{
        font-size: 2.5rem;
        margin-top: 4rem;
    }
    .main__content h2{
        font-size: 3rem;
    }
    .main__content p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:700px){
    
    .main__content h1{
        font-size: 2rem;
        margin-top: 0.5rem;
    }
    .main__content h2{
        font-size: 1.5rem;
    }
    .main__content p{
        margin-top:1rem;
        font-size: 1rem;
        width: 90%;
    }
    .main__img--card img{
        width:195px;
        height: 130px;
    }

    .main__btn{
        padding: 12px;
        margin-top: 0.5rem;
    }
}
@media screen and (max-width:600px){
    .main__img--card{
        flex-direction:row;
    }
}
@media screen and (max-width:400px){
    .main__img--container{
        margin-top: 1.5rem;
    }
    .main__img--card h1{
        font-size:1rem;
    }
    .main__img--card{
        flex-direction: column;
        justify-content: end;
    }
}
@media screen and (max-width:300px){
    .main__content h1{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .main__content h2{
        font-size: 1rem;
    }
    .main__content p{
        margin-top:0.5rem;
        font-size: 0.5rem;
        width: 90%;
    }
}

/*Cert Section*/
.Cert{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Cert h1{
    background-color:#ff8177;
    background-image: linear-gradient(to right,#ff0844 0%,#ffb199 100%);
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent ;
    -moz-text-fill-color:transparent;
    font-size: 2.5rem;
    margin-top: 5rem;
}

.Cert__card{
    margin: 10px;
    height: 425px;
    width: 280px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: #fff;
    background-image:linear-gradient(to right,#00dbde 0%,#fc00ff 100%);
    transition: 0.3s ease-in;
}

.Cert__card h2{
    text-align: center;
}
.Cert__card p{
    text-align: center;
    margin-top:24px;
    font-size: 20px;
}
.Cert__card button{
    color: #fff;
    padding: 14px 24px;
    border:none;
    outline:none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}
.Cert__card button:hover{
    cursor: pointer;
}

.Cert__card:hover{
    transform:scale(1.075) ;
    transition: 0.3s ease-in;
    cursor: pointer;
}
@media screen and (max-width:1025px){
    .owl-stage-outer{
        margin:0 1%;
    } 
}
@media screen and (max-width:900px){
    .owl-stage-outer{
        width: 90%;
        margin:0 6%;
    }
}
@media screen and (max-width:700px){
    .owl-stage-outer{
        width: 80%;
        margin:0 22%;
    }
}
@media screen and (max-width:500px){
    .owl-stage-outer{
        width: 80%;
        margin:0 15%;
    }
}
@media screen and (max-width:400px){
    .owl-stage-outer{
        width: 80%;
        margin:0 11%;
    }
}
/*Footer CSS*/
.footer__container{
    background-image:url("src/sea.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 0.3rem;
}
#footer__logo{
    color:#fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.footer__links{
    width:100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer__links--wrapper{
    justify-content: center;
    width:100%;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.footer__links--items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}
.footer__links--items2{
    display: flex;
}
.footer__links--items h2{
    width: 200px;
    margin-bottom: 10px;
    font-size: 50px;
    color:#131313;
}
.footer__links--items2 a{
    padding: 15px;
    background:rgba(255,255,255,0);
}
.footer__links--items2 a:hover{
    transform:scale(1.075);
    transition: 0.3s ease-out;
}
@media screen and (max-width:820px){
    .footer__links{
        padding-top:2rem;
    }
    #footer__logo{
        margin-bottom: 2rem;
    }
    .footer__links--wrapper{
        flex-direction: row;
    }
}
@media screen and (max-width:480px){
    .footer__links--wrapper{
        width:100%;
    }
    .footer__links--items {
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding:10px;
        width:100%;
    }
    .footer__links--items2 {
        flex-direction: row;
        width:100%;
        justify-content: center;
    }
    .footer__links--items2 a{
        padding: 10px;
         
    }
}